# Binance API Credentials
BINANCE_API_KEY=RtoR2pUNWo3vtxer6BFWsRhSImvNJO6m0GJeiutkthuvhRhArXUftrkckakE1RoU
BINANCE_API_SECRET=obAz4qJfYfqGHbzIenNqE7Ml2ckWUxX0i5Yi41cPEuHDjPehZ5g4n0k6P32ca5uP

# Environment
NODE_ENV=production
PORT=3000

# Trading Configuration
TESTNET=false

# Logging
LOG_LEVEL=info
LOG_MAX_SIZE=50m
LOG_MAX_FILES=7
